# Name of your project.
APP_NAME=NextAssist
# Env in which app is running: local vs production. In local you will get extra logs and information in UI.
APP_ENV=local

# This should be ORG/REPO. Example: vercel/next.js
REPO_NAME=vercel/next.js

# Name of folder to save the zip files into.
ZIP_DOWNLOAD_FOLDER=zipFiles

# Only the directories in last 1000 pushes to master and above version v<majorVersion>.<minorVersion>.0 will be considered.
# With the given values it will download first versions (0 patches) after 13.5.0 (including that one) if possible.
# This variable defines the major version for pull.
MAJOR_VERSION=13
# Only the directories in last 1000 pushes to master and above version v<majorVersion>.<minorVersion>.0 will be considered.
# With the given values it will download first versions (0 patches) after 13.5.0 (including that one) if possible.
# This variable defines the minor version for pull.
MINOR_VERSION=5

# This will be used to get pull data from github.
GITHUB_TOKEN=<github_token>

# Folder where the docs will be extracted.
ZIP_EXTRACTION_FOLDER=extractedData

# The folder where the content md files are kept.
# It will take content of this folder from each zip file and save it to ZIP_EXTRACTION_FOLDER under the name of version it belongs to.
CONTENT_FOLDER=docs/

# Folder where the docs after first processing (related to directory structure) will be kept.
PROCESSED_OUTPUT=processedDocs
# Folder where final csv file with chunks will be kept.
CHUNK_CSV_OUTPUT=stagingData

# Number of chunks to pull from Cortex search.
NUM_CHUNKS=3
# Snowflake account identifier.
SNOWFLAKE_ACCOUNT=<Locator>.<region>
# Snowflake Username to use for authentication.
SNOWFLAKE_USER=username
# Snowflake Password to use for authentication.
SNOWFLAKE_PASSWORD=password

# Name of DB
SNOWFLAKE_DB=DB_NAME
# DB schema Name
SNOWFLAKE_SCHEMA=SCHEMA_NAME
# This is the table on which docs will be saved.
SNOWFLAKE_DOC_TABLE_NAME=CHUNKS
# Name of the Cortex Search Service on those docs
CORTEX_DOC_SEARCH_SERVICE=NEXTSEARCH